<% @title = "Fantasy World Builder" %>

<p>Fantasy World Builder is an app that allows the user to create fantasy worlds. Typically this would be used for some type of gaming purpose, but the worlds users create here are all public and could be used for any non-profit venture.</p>

<h2>Worlds</h2>

<p>Each world is first dileneated by a universe. A universe defines the style of fantasy used for later content creation. For example a steam punk universe is much different from traditional fantasy universes. One universe could be completely devoid of magic or have different pantheons of dieties.</p>

<p>Each universe can be home to different worlds, each world can be home to differnt maps and each map can be home to different areas (cities, villages, towns etc.).</p>

<p>When a user creates an area it could potentially be linked to an existing instance of another universe. This creates an organic expansion of areas, planets and universes.</p>

<p>Two users could agree to create an instance of both their universes with a portal in between the two. Then other people could use the instance for gaming purposes and travel back and forth between the universes.</p>

<h2>Characters, Monsters and Items</h2>

<p>To fit into areas, worlds and universes a user can create characters, monsters and items. Characters and Monsters have items although an item can be attached to an area (sword in a cave).</p>

