<tr>
  <td><%= link_to area.name, area %></td>
  <td><%= link_to "Edit", edit_area_path(area) %></td>
  <td><%= link_to "Sub Area", new_area_path(:parent_id => area) %></td>
  <td><%= link_to "Remove", area, method: :delete, data: { confirm: "Are you sure?" } %></td>
</tr>
