<% @title = "Areas" %>

<table class="table">
  <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  <% @area.each do |area| %>
    <tr>
      <td><%= link_to area.name, area %></td>
      <td><%= link_to "Edit", edit_area_path(area) %></td>
      <td><%= link_to "Remove", area, method: :delete, data: { confirm: "Are you sure?" } %></td>
    </tr>
  <% end %>
</table>
