<% @title = "Universes" %>

<table class="table">
  <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  <% @universe.each do |universe| %>
    <tr>
      <td><%= link_to universe.name, universe %></td>
      <td><%= link_to "Edit", edit_character_path(universe) %></td>
      <td><%= link_to "Remove", universe, method: :delete, data: { confirm: "Are you sure?" } %></td>
    </tr>
  <% end %>
</table>
