<tr>
  <td><%= link_to city.name, city %></td>
  <td><%= link_to "Edit", edit_city_path(city) %></td>
  <td><%= link_to "Remove", city, method: :delete, data: { confirm: "Are you sure?" } %></td>
</tr>
