//@import "bootstrap";

// reset
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}table{border-collapse:collapse;border-spacing:0;}

// fonts
@import url('http://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700|Rock+Salt|Give+You+Glory');

// mixins & variables
$columnTotal: 12;
@mixin grid($columns,$start) {
  $columnWidth: $columns / $columnTotal;
  $startPositionLeft: ($start - 1) / $columnTotal;
  $startPositionRight: ((-$startPositionLeft * 100) - ($columnWidth * 100)) ;
  float: left;
  width: percentage($columnWidth);
  margin-left: percentage($startPositionLeft);
  margin-right: percentage($startPositionRight);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
@mixin webkitmarginreset($webkitmargin) {
  -webkit-margin-before: $webkitmargin;
  -webkit-margin-after: $webkitmargin;
  -webkit-margin-start: $webkitmargin;
  -webkit-margin-end: $webkitmargin;
}
@mixin clear {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin removeFireFoxSelectArrow {
  -moz-appearance:     none;
  text-indent:        0.01px;
  text-overflow:      '';
  background:         rgba(0,0,0,0);
  -webkit-appearance: none;
  border-radius:      0px;
}
$almostblack: #161616;
$paper: #ede0ce;
$brown: #554125;
$darkpaper: #b8ada0;

// typography
h1, h2, h3, h4, h5, h6 {
  margin: 36px 0 18px 0;
}
h1 {
  font-size: 60px;
  letter-spacing: -2px;
  margin: 20px 0;
  text-transform: uppercase;
}
h2 {
  font-size: 40px;
  letter-spacing: -1px;
}
h3 {
  font-size: 30px;
}
p {
  margin-bottom: 18px;
  line-height: 25px;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}

// base
html {
  overflow-y: scroll;
  font: {
    family: 'Old Standard TT', serif;
    size: 20px;
    weight: normal;
    style: normal;
  }
  letter-spacing: -.5px;
  background: $paper url(../images/paper.jpg) repeat;
  color: $almostblack;
  -webkit-font-smoothing: antialiased;
}
body {
  padding-top: 60px;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}
.clear {
  @include clear;
}
#content, footer {
  @include clear;
  a {
    font-family: 'Give You Glory', cursive;
    text-decoration: none;
    color: $almostblack;
    font-size: 25px;
    &:hover {
      text-decoration: underline;
    }
  }
  ul {
    list-style-type: disc;
    padding-left: 20px;
    li {
      line-height: 25px;
      margin-bottom: 7px;
    }
  }
}
.leftcol {
  @include grid(6,1);
  padding-right: 20px;
}
.rightcol {
  @include grid(6,7);
  padding-left: 20px;
}
article {
  @include grid(9,1);
  padding-right: 20px;
}
aside {
  @include grid(3,10);
  padding-left: 20px;
}

/* header */
header {
  background: $brown url(../images/header.jpg) repeat-x;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  -webkit-box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, .25);
  box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, .25);
  a {
    text-decoration: none;
    color: $paper;
    line-height: 60px;
    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }
  #logo {
    float: left;
    width: 330px;
    font-size: 26px;
    margin: 0;
  }
  nav {
    float: right;
    text-transform: uppercase;
    font-size: 16px;
    ul {
      float: right;
    }
    li {
      float: left;
    }
    a {
      padding: 10px;
    }
  }
  .container {
    @include clear;
  }
}
#header-image {
  margin-bottom: 50px;
  img {
    width: 100%;
  }
}

// footer
footer {
  margin-top: 45px;
  padding: 10px 0;
  border-top: 1px solid $brown;
  @include clear;
  p {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
  }
  li {
    float: left;
    margin-left: 10px;
  }
}

// forms
// remove blue glow
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
// remove dotted outline on firefox selects/buttons
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
input, textarea, select, .uneditable-input {
  width: 100%;
  margin-bottom: 15px;
  -webkit-appearance: none;
  padding: 8px;
  background: none;
  border: 0;
  border: 1px solid $darkpaper;
  cursor: auto;
  font-family: 'Rock Salt', cursive;
  font-size: 20px;
  color: #262828;
}
select {
  // remove firefox select arrow
  @include removeFireFoxSelectArrow;
  background: url(../images/drop-down-arrow.png) right center no-repeat;
  width: 102%;
}
input#submit {
  @include clear;
  width: auto;
  border: 0;
  background: url(../images/ink-splotch.png) bottom right no-repeat;
  padding: 0 40px 0 0;
  font-size: 30px;
  cursor: pointer;
}
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}
.field_with_errors {
  @extend .control-group;
  @extend .error;
}
.form-row {
  @include clear;
}
table {
  width: 100%;
}
td {
  padding: 7px;
  border: 1px solid $darkpaper;
}
th {
  text-align: left;
  padding: 7px;
}

