//@import "bootstrap";

// reset
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}table{border-collapse:collapse;border-spacing:0;}

// fonts
@import url('http://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700|Rock+Salt|Give+You+Glory');

// mixins & variables
$columnTotal: 12;
@mixin grid($columns,$start) {
  $columnWidth: $columns / $columnTotal;
  $startPositionLeft: ($start - 1) / $columnTotal;
  $startPositionRight: ((-$startPositionLeft * 100) - ($columnWidth * 100)) ;
  float: left;
  width: percentage($columnWidth);
  margin-left: percentage($startPositionLeft);
  margin-right: percentage($startPositionRight);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
@mixin webkitmarginreset($webkitmargin) {
  -webkit-margin-before: $webkitmargin;
  -webkit-margin-after: $webkitmargin;
  -webkit-margin-start: $webkitmargin;
  -webkit-margin-end: $webkitmargin;
}
@mixin clear {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin removeFireFoxSelectArrow {
  -moz-appearance:     none;
  text-indent:        0.01px;
  text-overflow:      '';
  background:         rgba(0,0,0,0);
  -webkit-appearance: none;
  border-radius:      0px;
}
$almostblack: #161616;
$paper: #ede0ce;
$brown: #554125;

// typography
h1, h2, h3, h4, h5, h6 {
  margin: 36px 0 18px 0;
}
h1 {
  font-size: 60px;
  letter-spacing: -2px;
  margin: 20px 0;
  text-transform: uppercase;
}
h2 {
  font-size: 40px;
  letter-spacing: -1px;
}
h3 {
  font-size: 30px;
}
p {
  margin-bottom: 18px;
  line-height: 25px;
}

// base
html {
  overflow-y: scroll;
  font: {
    family: 'Old Standard TT', serif;
    size: 20px;
    weight: normal;
    style: normal;
  }
  letter-spacing: -.5px;
  background: $paper url(../images/paper.jpg) repeat;
  color: $almostblack;
  -webkit-font-smoothing: antialiased;
}
body {
  padding-top: 90px;
}
.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}
#content {
  @include clear;
  a {
    font-family: 'Give You Glory', cursive;
    text-decoration: none;
    color: $almostblack;
    &:hover {
      text-decoration: underline;
    }
  }
  ul {
    li {
      line-height: 25px;
    }
  }
}
.leftcol {
  @include grid(6,1);
  padding-right: 20px;
}
.rightcol {
  @include grid(6,7);
  padding-left: 20px;
}
article {
  float: left;
  width: 75%;
  padding-right: 20px;
}
aside {
  float: left;
  width: 20%;
  padding-left: 20px;
}

/* header */
header {
  background: $brown url(../images/header.jpg) repeat-x;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  -webkit-box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, .25);
  box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, .25);
  a {
    text-decoration: none;
    color: $paper;
    line-height: 60px;
    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }
  #logo {
    float: left;
    width: 330px;
    font-size: 26px;
    margin: 0;
  }
  nav {
    float: right;
    width: 215px;
    text-transform: uppercase;
    font-size: 16px;
    li {
      float: left;
      a {
        padding: 10px;
      }
    }
  }
  .container {
    @include clear;
  }
}

// footer
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $brown;
  color: #999;
}
footer a {
  color: #555;
}
footer a:hover {
  color: #222;
}
footer small {
  float: left;
}
footer ul {
  float: right;
  list-style: none;
}
footer ul li {
  float: left;
  margin-left: 10px;
}

// forms
// remove blue glow
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
// remove dotted outline on firefox selects/buttons
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
select.form-select {
  // remove firefox select arrow
  @include removeFireFoxSelectArrow;
  background: #f9f3e9 url(../images/select-arrow.jpg) center right no-repeat;
}
input, textarea, select, .uneditable-input {
  width: 100%;
  margin-bottom: 15px;
  -webkit-appearance: none;
  padding: 8px;
  background: none;
  border: 0;
  border: 1px solid #b8ada0;
  cursor: auto;
  font-family: 'Rock Salt', cursive;
  font-size: 20px;
}
.form-row {
  @include clear;
}

