<aside>
  <h3>My World</h3>
  <ul>
    <li><%= link_to "Universes", universes_path %></li>
    <li><%= link_to "Characters", characters_path %></li>
    <li><%= link_to "Items", items_path %></li>
  </ul>

  <h3>Create</h3>
  <ul>
    <li><a href="/new-universe">Create Universe</a></li>
    <li><a href="/new-character">Create Character</a></li>
    <li><a href="/new-item">Create Item</a></li>
  </ul>
</aside>
