<aside>
  <ul>
    <li><%= link_to "Universes", universes_path %></li>
    <li><a href="/new-universe">Create new Universe</a></li>
    <li><%= link_to "Characters", characters_path %></li>
    <li><a href="/new-character">Create new Character</a></li>
  </ul>
</aside>
