<footer class="footer">
  <small>
    <a href="/">Fantasy World Builder</a>
    by Joseph Leon
  </small>
  <nav>
<ul>
<li><%= link_to "Home", root_path %></li>
<li><%= link_to "Help", help_path %></li>
<li><a href="#">News</a></li>
</ul> </nav>
</footer>
