<footer>
  <p>
    <%= link_to "Fantasy World Builder", root_path %> by Joseph Leon
  </p>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Help", help_path %></li>
    </ul>
  </nav>
</footer>
