<header>
  <div class="container">
    <h1 id="logo"><%= link_to "Fantasy World Builder", root_path %></h1>
    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "Sign in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
